Auction/WebContent/WEB-INF/lib/AuctionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://auction.facadeservice/jaxws/auctionservice" name="AuctionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://auction.facadeservice/jaxws/auctionservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://auction.facadeservice/jaxws/auctionservice" schemaLocation="AuctionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="userAuthentication">
    <part name="parameters" element="tns:userAuthentication"/>
  </message>
  <message name="userAuthenticationResponse">
    <part name="parameters" element="tns:userAuthenticationResponse"/>
  </message>
  <message name="releaseResource">
    <part name="parameters" element="tns:releaseResource"/>
  </message>
  <message name="releaseResourceResponse">
    <part name="parameters" element="tns:releaseResourceResponse"/>
  </message>
  <message name="firstLoadSystem">
    <part name="parameters" element="tns:firstLoadSystem"/>
  </message>
  <message name="firstLoadSystemResponse">
    <part name="parameters" element="tns:firstLoadSystemResponse"/>
  </message>
  <message name="userRegistration">
    <part name="parameters" element="tns:userRegistration"/>
  </message>
  <message name="userRegistrationResponse">
    <part name="parameters" element="tns:userRegistrationResponse"/>
  </message>
  <message name="loadAllLots">
    <part name="parameters" element="tns:loadAllLots"/>
  </message>
  <message name="loadAllLotsResponse">
    <part name="parameters" element="tns:loadAllLotsResponse"/>
  </message>
  <message name="addLot">
    <part name="parameters" element="tns:addLot"/>
  </message>
  <message name="addLotResponse">
    <part name="parameters" element="tns:addLotResponse"/>
  </message>
  <message name="cancelLot">
    <part name="parameters" element="tns:cancelLot"/>
  </message>
  <message name="cancelLotResponse">
    <part name="parameters" element="tns:cancelLotResponse"/>
  </message>
  <message name="addBid">
    <part name="parameters" element="tns:addBid"/>
  </message>
  <message name="addBidResponse">
    <part name="parameters" element="tns:addBidResponse"/>
  </message>
  <portType name="FacadeService">
    <operation name="userAuthentication">
      <input wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/userAuthenticationRequest" message="tns:userAuthentication"/>
      <output wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/userAuthenticationResponse" message="tns:userAuthenticationResponse"/>
    </operation>
    <operation name="releaseResource">
      <input wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/releaseResourceRequest" message="tns:releaseResource"/>
      <output wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/releaseResourceResponse" message="tns:releaseResourceResponse"/>
    </operation>
    <operation name="firstLoadSystem">
      <input wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/firstLoadSystemRequest" message="tns:firstLoadSystem"/>
      <output wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/firstLoadSystemResponse" message="tns:firstLoadSystemResponse"/>
    </operation>
    <operation name="userRegistration">
      <input wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/userRegistrationRequest" message="tns:userRegistration"/>
      <output wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/userRegistrationResponse" message="tns:userRegistrationResponse"/>
    </operation>
    <operation name="loadAllLots">
      <input wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/loadAllLotsRequest" message="tns:loadAllLots"/>
      <output wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/loadAllLotsResponse" message="tns:loadAllLotsResponse"/>
    </operation>
    <operation name="addLot">
      <input wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/addLotRequest" message="tns:addLot"/>
      <output wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/addLotResponse" message="tns:addLotResponse"/>
    </operation>
    <operation name="cancelLot">
      <input wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/cancelLotRequest" message="tns:cancelLot"/>
      <output wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/cancelLotResponse" message="tns:cancelLotResponse"/>
    </operation>
    <operation name="addBid">
      <input wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/addBidRequest" message="tns:addBid"/>
      <output wsam:Action="http://auction.facadeservice/jaxws/auctionservice/FacadeService/addBidResponse" message="tns:addBidResponse"/>
    </operation>
  </portType>
  <binding name="AuctionServicePortBinding" type="tns:FacadeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="userAuthentication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="releaseResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="firstLoadSystem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="userRegistration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loadAllLots">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addLot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelLot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addBid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AuctionService">
    <port name="AuctionServicePort" binding="tns:AuctionServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

